<!DOCTYPE html>
<html lang="IT">

<head>
      <meta charset="utf-8" />
      <title>Connectify || Local Web Developing</title>
      <meta name="theme-color" content="#8886f7" />
      <!-- mobile responsive meta -->
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />


      @@include('websiteinfo/description.htm')

      @@include('websiteinfo/other_data.htm')

      <!-- Robots Meta tag -->
      <meta name="robots" content="index, follow" />

      <!-- search engine verfication tag -->
      <meta name="google-site-verification" content="your-google-verification-code-here" />
      <meta name="bing-site-verification" content="your-bing-verification-code-here" />

      <!-- Canonical URL -->
      <link rel="canonical" href="https://connectify.it" />

      @@include('websiteinfo/styles_plugins.htm')

      <!--Favicon-->
      <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
      <link rel="icon" href="images/favicon.ico" type="image/x-icon" />

      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-836QL1DT6R"></script>
      <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-836QL1DT6R');
       </script>
      <!-- Clarity tracking code for https://connectify.it/ -->
      <script>
            (function (c, l, a, r, i, t, y) {
                  c[a] =
                        c[a] ||
                        function () {
                              (c[a].q = c[a].q || []).push(arguments);
                        };
                  t = l.createElement(r);
                  t.async = 1;
                  t.src = "https://www.clarity.ms/tag/" + i + "?ref=bwt";
                  y = l.getElementsByTagName(r)[0];
                  y.parentNode.insertBefore(t, y);
            })(window, document, "clarity", "script", "fnmq9lmivr");
      </script>
</head>

<body>
