.navbar-light .navbar-nav .nav-link {
  color: $text-color-dark;
}

.navigation {
  transition: .3s ease;
}

.navbar {
  transition: .3s ease;
  &-collapse{
    @include desktop {
      padding-bottom: 20px;
    }
  }
}
.rouded
.nav-bg {
  background-color: snow;
  .navbar {
    padding: 10px 0;
  }
}

.nav-item {
  padding: 20px 10px;
  @include desktop {
    padding: 0;
  }
}
