.navbar-light .navbar-nav .nav-link {
  color: $text-color-dark;
}

.navigation {
  transition: .3s ease;
}

.navbar {
  transition: .3s ease;
  &-collapse{
    @include desktop {
      padding-bottom: 20px;
    }
  }
}
.rounded-20{
  border-radius: 20px;
}
.nav-bg {
  background-color: white;
  .navbar {
    padding: 10px 0;
  }
}

.nav-item {
  padding: 20px 10px;
  @include desktop {
    padding: 0;
  }
}

.nav-link {
  position: relative;
  height: max-content;
  width: max-content;
  margin-block: 0;
  padding-block: 0;
}

.nav-link[href="#"]{
  color: black;
  font-weight: 400;
}

.nav-link::after {
  content: "";
  position: absolute;

  top: 99%;
  left: 0;
  width: 100%;

  background-color: #000;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: 350ms;
}

.nav-link:not(.nav-link[href="#"]):is(:hover, :focus)::after {
  transform: scaleX(1);
}

.nav-link:not(.nav-link[href="#"]):is(:hover, :focus) {
  color: black;
  font-weight: 400;
}
