---
import Layout from '../layouts/Layout.astro';

import Navigation from '../components/Navigation.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Navigation />

	<div id="fullpage">
        <Contact />

        <Footer />
	</div>
</Layout>
