---
import "../styles/base.scss";
import Loader from '../components/Loader.astro';
import Cursor from '../components/Cursor.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html lang="IT" style="heigth: 100%; overflow-y: hidden;">
    <head>
        <meta charset="utf-8" />
        <title>Connectify || Local Web Developing</title>
        <meta name="theme-color" content="#8886f7" />
        <!-- mobile responsive meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta
        name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=5"
        />

        <!-- theme meta -->
        <meta
        name="description"
        content="Connectify is a local web development company that helps small businesses 
                connect with the internet and beyond. Contact us for a consultation."
        />
        <meta
        name="keywords"
        content="local web development, small business, internet, connect, website design, website development"
        />

        <!-- theme meta -->
        <meta name="theme-name" content="dtox" />
        <meta
        name="description"
        content="Connectify is a local web development company that helps small businesses connect with the internet and beyond. Contact us for a consultation."
        />
        <meta
        name="keywords"
        content="local web development, small business, internet, connect, website design, website development"
        />

        <!-- Open Graph data -->
        <meta property="og:title" content="Connectify || Local Web Developing" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://connectify.it" />
        <meta
        property="og:description"
        content="Connectify is a local web development company that helps small businesses connect with the internet and beyond. Contact us for a consultation."
        />
        <meta
        property="og:image"
        content="https://connectify.it/images/og-image.jpg"
        />

        <!-- Twitter card data -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="Connectify || Local Web Developing" />
        <meta
        name="twitter:description"
        content="Connectify is a local web development company that helps small businesses connect with the internet and beyond. Contact us for a consultation."
        />
        <meta
        name="twitter:image"
        content="https://connectify.it/images/twitter-card-image.jpg"
        />

        <!-- Robots Meta tag -->
        <meta name="robots" content="index, follow" />

        <!-- search engine verfication tag -->
        <meta
        name="google-site-verification"
        content="your-google-verification-code-here"
        />
        <meta
        name="bing-site-verification"
        content="your-bing-verification-code-here"
        />

        <!-- Canonical URL -->
        <link rel="canonical" href="https://connectify.it" />

        <!-- Robots Meta tag -->
        <meta name="robots" content="index, follow" />

        <!-- search engine verfication tag -->
        <meta
        name="google-site-verification"
        content="your-google-verification-code-here"
        />
        <meta
        name="bing-site-verification"
        content="your-bing-verification-code-here"
        />

        <!-- Canonical URL -->
        <link rel="canonical" href="https://connectify.it" />

        <!-- ** Plugins Needed for the Project ** -->
        <!-- Bootstrap 5.3-->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous"
        />

        <!-- themefy-icon -->
        <link rel="stylesheet" href="themify-icons/themify-icons.css" />

        <!-- Google icons  -->
        <link 
            rel="stylesheet" 
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" 
        />

        <!-- slick slider -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
            integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />

        <!-- fullpage css -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.15/fullpage.min.css"
            integrity="sha512-FKlWnaJrtBEqH+gNy8kvp+/61S+8iOKb5tG+EKCQ3Fc3iUYr9MvnywpkZBcuNKrxQxlnZYpNwDgkZ2atX7wVVg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />

        <!--Favicon-->
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    </head>
    <body style="heigth: 100%; overflow-y: hidden;">
        <Cursor />
        
        <Loader />

        <Navigation />

        <div id="fullpage">

            <slot />

            <Footer />
        </div>

        <!-- External scripts -->
        <!-- jQuery -->
        <script 
            src="https://code.jquery.com/jquery-3.6.3.min.js" 
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" 
            crossorigin="anonymous">
        </script>

        <!-- Bootstrap JS 5.3-->
        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" 
            crossorigin="anonymous">
        </script>

        <!-- slick slider -->
        <script 
            src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" 
            integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" 
            crossorigin="anonymous" 
            referrerpolicy="no-referrer">
        </script>

        <!-- fullpage js -->
        <script 
            src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.15/fullpage.min.js" 
            integrity="sha512-rNf09cQHIWzD8BU37lIb3rInygeWXW2hVqJ7niVtTPXWuVR3aFiph1eFIeDiEQV8J45u0qfp7ng8I3TzJHY4Eg==" 
            crossorigin="anonymous" 
            referrerpolicy="no-referrer">
        </script>
    </body>
</html>


<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {
        InitFullpage();
    });

    function InitFullpage() {
        if(!document.getElementById("fullpage"))
        {
            return;
        }

        new fullpage('#fullpage', {
            //options here
            licenseKey: "gplv3-license",
            autoScrolling: true,
            responsiveWidth: 800,
            responsiveHeight: 900,
            fitToSection: true,
            
            beforeLeave: (origin, destination) => {
                const { index: index_origin } = origin;
                const { index: index_destination } = destination;

                const navigation = $(".navigation");

                if(index_origin < index_destination)
                {
                    navigation.addClass("nav-bg");
                }
                else if (index_destination === 0)
                {
                    navigation.removeClass("nav-bg");
                }
            }
        });
    }
</script>
