<!-- about us -->
<section id="about" class="section-lg about pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-title">About us</h2>
      </div>
      <div class="col-lg-12 mb-100">
        <p>Siamo <b>Kristian Buriasco</b> e <b>Lorenzo Marchisio</b>, due studenti delle scuole superiori con una passione per lo <b>sviluppo web</b>. Insieme, portiamo le nostre <b>competenze tecniche</b>, <b>attenzione ai dettagli</b> e <b>soluzioni innovative</b> a ogni progetto su cui lavoriamo. Il nostro sito web presenta il nostro <b>portfolio di progetti</b> passati e il nostro impegno nel fornire <b>esperienze utente eccezionali</b>. Siamo sempre aggiornati con le <b>ultime tendenze del settore</b> e dedicati a aiutare i nostri clienti a raggiungere il <b>successo online</b>. Dalla <b>concezione</b> all'<b>uscita</b>, lavoreremo a <b>stretto contatto</b> con te per comprendere le tue <b>esigenze uniche</b> e far prendere vita alla tua <b>visione</b>. Aiutaci a stabilire o migliorare la tua <b>presenza online</b> con un <b>sito web stupefacente</b>.

        </p>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img
    src="images/background-shape/green-dot.png"
    alt="background-shape"
    class="about-bg-1 up-down-animation"
  />
  <img
    src="images/background-shape/blue-dot.png"
    alt="background-shape"
    class="about-bg-2 left-right-animation"
  />
  <img
    src="images/background-shape/green-half-cycle.png"
    alt="background-shape"
    class="about-bg-3 up-down-animation"
  />
  <img
    src="images/background-shape/seo-ball-1.png"
    alt="background-shape"
    class="about-bg-4 left-right-animation"
  />
  <img
    src="images/background-shape/team-bg-triangle.png"
    alt="background-shape"
    class="about-bg-5 up-down-animation"
  />
  <img
    src="images/background-shape/service-half-cycle.png"
    alt="background-shape"
    class="about-bg-6 left-right-animation"
  />
</section>
<!-- /about us -->
