<!-- contact -->
<section class="section fp-auto-height fp-auto-height-responsive section-lg contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-title">Contact</h2>
            </div>
        </div>
        <div class="row contact-bg p-5 rounded mb-5">
            <div class="col-lg-7 mb-4 mb-lg-0">
              <form
              id="contactForm"
              action="https://formspree.io/f/xbjedwwz"
              method="POST">
                    <input type="text" class="form-control mb-3" id="name" name="name" placeholder="Il tuo Nome">
                    <input type="email" class="form-control mb-3" id="mail" name="mail" placeholder="La tua email">
                    <input type="text" class="form-control mb-3" id="subject" name="subject" placeholder="Oggetto">
                    <textarea name="message" id="message" class="form-control mb-3" placeholder="Il tuo messaggio"></textarea>
                    <button type="submit" value="send"  class="btn btn-secondary">Invia Messaggio</button>
                </form>
            </div>
            <div class="col-lg-5">
              <h3>Sii il nostro Primo Cliente</h3>
              <p class="mb-5">Siamo sempre a disposizione per rispondere alle domande e fornire informazioni. Non esitate a contattarci tramite email o telefono per discutere le vostre esigenze e come possiamo aiutarvi. Saremo felici di sentirci da voi!</p>
            </div>
        </div>
    </div>
    <!-- background shapes -->
    <img class="contact-bg-1 up-down-animation" data-src="images/background-shape/feature-bg-2.webp" alt="background-shape">
    <img class="contact-bg-2 left-right-animation" data-src="images/background-shape/green-half-cycle.webp" alt="background-shape">
    <img class="contact-bg-3 up-down-animation" data-src="images/background-shape/green-dot.webp" alt="background-shape">
    <img class="contact-bg-4 left-right-animation" data-src="images/background-shape/service-half-cycle.webp" alt="background-shape">
    <img class="contact-bg-5 up-down-animation" data-src="images/background-shape/feature-bg-2.webp" alt="background-shape">
</section>
<!-- /contact -->
