<!-- footer -->
<footer
  class="footer-section footer"
  style="background-image: url(images/backgrounds/footer-bg.webp)"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 text-center text-lg-left mb-4 mb-lg-0">
        <!-- logo -->
        <a href="index.html">
          <img class="img-fluid" src="images/logo.webp" alt="logo" />
        </a>
      </div>
      <!-- footer menu -->
      <nav class="col-lg-8 align-self-center mb-5">
        <ul class="list-inline text-lg-right text-center footer-menu">
          <li class="list-inline-item active"><a page-name="index" href="index.html">Home</a></li>
          <li class="list-inline-item">
            <a class="page-scroll" href="#feature">Servizi</a>
          </li>
          <li class="list-inline-item">
            <a class="page-scroll" href="index.html#about">Su di noi</a>
          </li>
          <li class="list-inline-item">
            <a class="page-scroll" href="#team">Team</a>
          </li>
          <li class="list-inline-item"><a page-name="contact" href="contact.html">Contatta</a></li>
        </ul>
      </nav>
      <!-- footer social icon -->
      <nav class="col-12">
        <ul class="list-inline text-lg-right text-center social-icon">
          <li class="list-inline-item">
            <a
              class="facebook"
              href="mailto:info@connectify.it"
              aria-label="contact us via email"><i class="ti-email"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="twitter" href="https://twitter.com/Connectify_IT" aria-label="our twitter account"><i class="ti-twitter-alt"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="linkedin" href="https://www.instagram.com/connectify_it/"  aria-label="our linkedin account"><i class="ti-instagram"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="black" href="https://github.com/Connectify-it"  aria-label="our instagram account"><i class="ti-github"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
<!-- /footer -->
