<!-- team -->
<section class="section section-lg team" id="team" data-anchor="team-anchor">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Il nostro team</h2>
      </div>
    </div>
    <div class="col-10 mx-auto">
      <div class="team-slider">
        <!-- team-member -->
        <div class="team-member">
          <div class="d-flex mb-4">
            <div class="me-3">
              <img class="rounded-circle img-fluid" data-src="images/team/team-1.webp" alt="team-member">
            </div>
            <div class="align-self-center">
              <h4>Kristian Buriasco</h4>
              <h6 class="text-color">web designer</h6>
            </div>
          </div>
          <p>
            Sono Kristian e ho una passione per la fotografia,
            la videografia e il design. Unisco queste competenze
            per creare soluzioni creative e uniche.
            Con un occhio per i dettagli e conoscenza delle tecnologie digitali,
            porto la mia visione artistica in ogni progetto.
            Continuo a migliorare le mie competenze per portare
            la mia creatività a livelli sempre più elevati
          </p>
        </div>

        <!-- team-member -->
        <div class="team-member">
          <div class="d-flex mb-4">
            <div class="me-3">
              <img class="rounded-circle img-fluid" data-src="images/team/team-2.webp" alt="team-member">
            </div>
            <div class="align-self-center">
              <h4>Lorenzo Marchisio</h4>
              <h6 class="text-color">web developer</h6>
            </div>
          </div>
          <p>
            Sono Lorenzo, appassionato di tecnologia.
            Creo programmi e siti web combinando la mia conoscenza
            dell'informatica e la mia creatività.
            Mi tengo sempre aggiornato per garantire
            che i miei progetti siano all'avanguardia.
            Mi concentro sulla creazione di soluzioni
            efficienti e di alta qualità.
          </p>
        </div>

        <!-- team-member -->
        <div class="team-member">
          <div class="d-flex mb-4">
            <div class="me-3">
              <img class="rounded-circle img-fluid" data-src="images/team/team-3.webp" alt="team-member">
            </div>
            <div class="align-self-center">
              <h4>Alberto Gonella</h4>
              <h6 class="text-color">web developer</h6>
            </div>
          </div>
          <p>
            Sono Alberto, appassionato di informatica e programmazione.
            Ogni giorno amo sperimentare nuove tecnologie per ampliare
            sempre di più le mie conoscenze per creare soluzioni sempre
            più innovative per migliorare la vita delle persone.</p>
        </div>

      </div>
    </div>
  </div>
  <!-- backgound image -->
  <img data-src="images/backgrounds/team-bg.webp" alt="team-bg" class="img-fluid team-bg">
  <!-- background shapes -->
  <img class="team-bg-shape-1 up-down-animation" data-src="images/background-shape/seo-ball-1.webp" alt="background-shape">
  <img class="team-bg-shape-2 left-right-animation" data-src="images/background-shape/seo-ball-1.webp" alt="background-shape">
  <img class="team-bg-shape-3 left-right-animation" data-src="images/background-shape/team-bg-triangle.webp" alt="background-shape">
  <img class="team-bg-shape-4 up-down-animation img-fluid" data-src="images/background-shape/team-bg-dots.webp" alt="background-shape">
</section>
<!-- /team -->
